main {
    background-color: #333;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2em;
}

* {
    color: #F8F9FA;
}

.container {
    align-self: center;
    flex: 1;
}
