.tournament-details-wrapper {
    width: 980px;
}

/* Header */
.tournament-details-header {
    display: grid;
    grid-template-columns: 150px 2fr 1fr;
    align-items: center;
    gap: 0.5em;
    text-overflow: ellipsis;
    margin-bottom: 2em;
}

.torunament-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.3em;
}

.tournament-status {
    margin-top: 0.5em;
    text-transform: capitalize;
    font-size: 0.9em;
}

.tournament-date {
    opacity: 80%;
    font-size: 0.8em;
}

.torunament-logo-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tournament-main-info {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.tournament-actions {
    display: flex;
    justify-content: center;
}

.tournament-actions>button {
    background-color: #007BFF;
    border-radius: 3px;
    padding: 0.7em 1em;
}

/* Section picker */
.section-picker {
    list-style: none;
    display: flex;
    /* gap:2em; */
    padding: 1.2em 0;
    border-bottom: 1px solid rgb(248, 249, 250, 0.2);
    margin-bottom: 2em;
}

.section-picker-link {
    padding: 1.1em 1em;
}

.section-picker-link.active {
    border-bottom: 1px solid #007BFF;
}

.section-picker-link:hover,
.section-picker-link.active {
    color: #007BFF;
}

.section-picker-link:not(.active):hover {
    border-bottom: 1px solid rgb(248, 249, 250, 0.4);
}