.submenu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2em;
}

.tournaments-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 980px;
}