/* Content */
.tournament-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3em;
}

.tournament-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tournament-attributes {
    display: flex;
}

.attribute {
    display: flex;
    flex-grow: 1;
    border: 1px solid rgb(0, 125, 255, 0.2);
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.attribute-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.attribute-icon {
    font-size: 1.6em;
    opacity: 20%;
}
